html, body {
    text-align: center;
    height: 100%;
  }
  .dark-mode {
    background-color: #2a2a2a;
    color: #fff;
  }
  .random-color {
    background-color: rgb(0, 0, 0);
  }
  h3.red {
    color: red;
  }
  h3.green {
    color: green;
  }
  h3.blue {
    color: blue;
  }